<%= left_navigation_for_dashboard project: @project, user: current_user %>

<%= page_header t(:user, scope: :users),
  subject: h(@user.name)
%>

<%= breadcrumbs(
  h(@user.name),
  user_path(@user),
  :edit
) %>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%#= devise_error_messages! %>

      <div class='form-group'>
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", disabled: :disabled %>
      </div>

      <div class='form-group'>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class='form-group'>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% else %>
        <div class='form-group registration-switch-password hide'>
          <%= label_tag :switch_password, t(:update_password, scope: :users) %><br />
          <%= check_box_tag nil, 'yes', false, {class: "switch-small"} %>
        </div>

        <div class='form-group js-user-password'>
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
        </div>

        <div class='form-group js-user-password'>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class='form-group'>
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, class: "form-control" %>
        </div>

        <div class='form-group'>
          <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>
    <% end %>
    <br />
    <hr>
    <%= ask_admin({
      head: t(:unhappy?, scope: :users),
      name: t(:cancel_your_account, scope: :users)
    }) %>
  </div>
</div>
