<div class="oslc-selection-dialog">
  <div class="hidden" data-response="<%= @response %>"></div>

  <%= form_tag request.original_url, class:'search-form', :method => :get do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], :class => "search-query form-control", :placeholder => t(:search_test_results, scope: :oslc) %>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"><%= icon('search') %></button>
      </span>
    </div>
  <% end %>

  <% unless @test_results.empty? %>
    <table class="table table-striped">
     <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
      <tbody>
          <% @test_results.each do |test_result| %>
            <tr>
              <td><%= test_result.id %></td>
              <td><%= link_to test_result.title, project_campaign_execution_url(@service_provider, test_result.title, test_result) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </table>
  <% else %>
    <p class='text-muted'><%= t(:no_test_results_to_display, scope: :oslc) %></p>
  <% end %>
</div>
